<div class="banner">
    <div class="banner">
        <div class="wrapper">
        <div class="imgwrapper">
            <a href="/"><img width="80px" src="/img/ProjektFredrika2020_Logo 200x200.png"></a>
        </div>
        <div class="titlewrapper">
            <span class="title2"><a href="/">Projekt Fredrika</a></span><br>
            <span class="subtitle2"><a href="/">Det svenska Finland på Wikipedia</a></span>
        </div>
        </div>
    </div>
    <!--<a href="/"><img style="vertical-align:middle; max-width: 80px; margin: 0.4em;" src="/img/ProjektFredrika2020_Logo.png">Projekt Fredrika - det svenska Finland på Wikipedia</a>-->
</div>
