<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="all" />
    {{ template "_internal/opengraph.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $.Scratch.Set "Title" (default .Title (index .Site.Params.text (print "title_" (lower .Title)))) }}
    <title>{{ if eq ($.Scratch.Get "Title") .Site.Title }}{{ .Site.Title }}{{ else }}{{ ($.Scratch.Get "Title") }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
  </head>

  <body{{if .IsPage}} class="page"{{ end }}>
    <nav class="header">
      <div class="banner">
        <div class="banner">
            <div class="wrapper">
            <div class="imgwrapper">
                <a href="/"><img width="80px" src="/img/ProjektFredrika2020_Logo 200x200.png"></a>
            </div>
            <div class="titlewrapper">
                <span class="title2"><a href="/">Projekt Fredrika</a></span><br>
                <span class="subtitle2"><a href="/">Det svenska Finland på Wikipedia</a></span>
            </div>
            </div>
        </div>
    </div>
    </nav>
